<form id="albumsForm" target="/albums" method="post" hx-post="/albums" hx-swap="afterbegin" hx-target="tbody">
    <div><label>Artist: <input type="text" name="artist"/></label></div>
    <div><label>Album: <input type="text" name="album"/></label></div>
    <div><label>Year: <input type="text" name="year"/></label></div>
    <div><input type="submit" value="Add album"/></div>
</form>
