<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="htmx-config" content='{"useTemplateFragments":true}'>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <title>My favorite albums</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h1>My favorite albums</h1>
    <%- include('albumsForm') %>
    <table>
        <thead>
            <tr>
                <th>Band name</th>
                <th>Album name</th>
                <th>Year released</th>
                <th></th>
            </tr>
            <tbody>
                <% albums.forEach((album) => { %>
                    <%- include('albumRow',album) %>
                <% }) %>
            </tbody>
        </thead>
    </table>
    <div id="totalAlbums">
        <%- include('totalAlbums', { count: albums.length }) %>
    </div>
</body>
</html>