<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <title>My favorite albums</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h1>My favorite albums</h1>
    <form target="/albums" method="get" hx-post="/albums" hx-swap="afterbegin" hx-target="tbody">
        <div><label>Artist: <input type="text" name="artist"/></label></div>
        <div><label>Album: <input type="text" name="album"/></label></div>
        <div><label>Year: <input type="text" name="year"/></label></div>
        <div><input type="submit" value="Add album"/></div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Band name</th>
                <th>Album name</th>
                <th>Year released</th>
                <th></th>
            </tr>
            <tbody>
                <% albums.forEach((album) => { %>
                    <%- include('albumRow',album) %>
                <% }) %>
            </tbody>
        </thead>
    </table>
</body>
</html>